<h3>购物车</h3>

<p>
  <button (click)="onShippingPriceClick()">快递费</button>
</p>
<div *ngIf="showState==1">
  <p *ngFor="let item of jsonData">
    <span>{{ item.type }} </span>
    <span>{{ item.price }}</span>
  </p>
</div>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form 
  [formGroup]="checkoutForm" 
  (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      姓名：
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="address">
      地址：
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  <button class="button" type="submit">提交购买</button>
</form>