
<h2>宝贝列表</h2>
<div 
  *ngFor="let myProduct of carService.products; index as productId" 
  class="miContainer">
	<h3 class="mainItem">
		<a [title]="myProduct.name + '(' + myProduct.price + ') details'" [routerLink]="['/products', productId]">
			{{ myProduct.name }}
		</a>
	</h3>
	<p *ngIf="myProduct.description != ''">
		Description: {{ myProduct.description }}
	</p>  
  <!--<button (click)="share()">点击分享{{myProduct.name}}</button>-->
  <app-product-op 
    [product]="myProduct"
    (notify)="onNotify()"
    [onShare]="onShare">
  </app-product-op>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->