<a [routerLink]="['/']">
  <h1>我的商店</h1>
</a>
<input type="text" [(ngModel)]="searchValue[0]" *ngIf="carService.curRouter=='/'"/>
内容：{{searchValue[0]}}
<input type="text" [(ngModel)]="searchValue[2]" *ngIf="carService.curRouter=='/'"/>
内容：{{searchValue[2]}}
<button (click)="doSearchProd()" *ngIf="carService.curRouter=='/'">搜索本店</button>
<a [routerLink]="['/car-submit']" class="button fancy-button">
  <i>购物车({{ carService.items.length }})</i>
</a>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->