<a [routerLink]="['/']">
  <div [ngSwitch]="carService.curRouter">
    <h1 *ngSwitchCase='1'>智能排期</h1>
    <h1 *ngSwitchDefault>我的商店</h1>
  </div>  
</a>
<input type="text" [(ngModel)]="searchValue[0]" *ngIf="carService.curRouter=='0'"/>
<button (click)="doSearchProd()" *ngIf="carService.curRouter=='0'">搜索本店</button>
<a [routerLink]="['/car-submit']" class="button fancy-button" *ngIf="carService.curRouter!='1'">
  <i>购物车({{ carService.items.length }})</i>
</a>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->